:root {
  /* colors */
  --c-primary: hsl(25, 97%, 53%);
  --c-white: hsl(0, 0%, 100%);
  --c-light-gray: hsl(217, 12%, 63%);
  --c-medium-gray: hsl(216, 12%, 54%);
  --c-dark-blue: hsl(213, 19%, 18%);
  --c-very-dark-blue: hsl(216, 12%, 8%);

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--c-very-dark-blue);
  color: var(--c-white);
  font-family: "Overpass", sans-serif;
  font-weight: var(--font-weight-normal);
}
